.App {
  text-align: center;
}

.suggested {
  background: none;
  color: inherit;
  border: solid 1px black;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: 200px;
}

.suggested:hover,
.suggested:focus {
  background: #0053ba;
}

.suggested:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.suggested:active {
  transform: scale(0.99);
}
